.about-container header {
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}

.about-container main {
    text-align: center;
    margin-top: 20px;
}

.about-container main div {
    background-color: white;
    margin: 0 30px;
    padding: 20px 0;
}

.about-container main .about-main-div img {
    height: 150px;
    width: 150px;
}

.about-container div + div strong {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 5px;
}

.about-container div + div strong a {
    text-decoration: none;
    color: blue;
}

.about-container div + div p {
    margin-top: 20px;
}