@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.profile-container {

}

.profile-container header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.profile-container main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-container main ul {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
.profile-container main ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.profile-container main ul li img {
  width: 150px;
  height: 150px;
}


.react-rater {
    font-size: 30px;
}

.react-rater-star {
    color: #ccc;}
    .react-rater-star.will-be-active {
      color: #fc6; }
    .react-rater-star.is-active {
      color: #fc6; }
    .react-rater-star.is-active-half:before {
      color: #000;
      content: '\2605';
      position: absolute;
      left: 0;
      width: 50%;
      overflow: hidden; }
    .react-rater-star.is-disabled {
      cursor: default; }
  